<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="Nopackage">
        <parameter name="testParam" value="testValue"></parameter>
        <classes>
            <class name="com.provectus.tests.tests.Before3"/>
<!--            <class name="com.provectus.tests.TestEx"/>-->
        </classes>
    </test>


<!--    <test name="Regression1">-->
<!--        <classes>-->
<!--            <class name="com.provectus.tests.TestEx"/>-->
<!--        </classes>-->
<!--&lt;!&ndash;        &lt;!&ndash;        бере все зі сюту com.provectus.tests поміченим @Test&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <packages>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="com.provectus.tests.auth"></package>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="com.provectus.tests.catalog"></package>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="com.provectus.tests.products"></package>&ndash;&gt;-->
<!--&lt;!&ndash;        </packages>&ndash;&gt;-->
<!--    </test>-->

<!--    <suite-files>-->
<!--        <suite-file path="catalog.xml "></suite-file>-->
<!--        <suite-file path="auth.xml "></suite-file>-->
<!--    </suite-files>-->
</suite>
